body {
    background-color: black;
    color: ivory;
    text-align: center;
    font-family: 'Geostar', cursive;
}

.title {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}